*
{
	font-family: monospace;
}

body
{
	background-image: url(http://i.imgur.com/UN9uruG.gif);
	background-repeat: repeat;
	
	color: #808080;
}

#textholder
{
	position: fixed;
	top: 0;
	left: 0;
	
	z-index: 1;
}

#chat
{
	position: fixed;
	bottom: 0;
	right: 0;
	
	z-index: 0;
}
